*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#menuHorizontal{
    background-color: #24c0eb;
    width: 90%;
    border-bottom: solid 2px black;
    padding-left: 5%;
    padding-right: 5%;
}

#TituloHeader{
    font-size: 30px;
    display: inline-block;
    padding: 10px;
}

#TituloHeader a{
    text-decoration: none;
    cursor: pointer;
    color: #f1ebeb;
}


.itemMenu{
    display: inline;
    text-decoration: none;
    margin-left: 1em;
    float: right;
    padding: 20px 30px;
}

.itemMenu a{
    text-decoration: none;
    color: #f1ebeb;
    display: inline-block;
}

.itemMenu a:hover{
    color: #cacaca;
    text-decoration: none;
    display: inline-block;
}

#formulario{
    width: 300px;
    height: 300px;
    margin: 80px auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: lightblue;
    border-radius: 5px;
}

label{
    margin-top: 40px;
    display: block;
    text-align: center;
}

input{
    display: block;
    padding: 5px 50px;
    margin: 10px auto;
}


#botaoContato{
    background-color: #5cceee;
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
}